{% extends 'base.html' %}
{% block title %}Log In Here{% endblock title %}
{% block body %}

{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}



<div class="container sign-upp pt-4">
    <span><i class="fa-solid fa-user"></i></span>
    <h2 class="text-center mt-2 mb-4">Log In Account</h2>
    <div class="row">
        <div class="col-xl-4 col-sm-1"></div>
        <div class="col-xl-4 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter your email</label>
                    <input type="text" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <input type="Submit" value="Log In" class="btn btn-org">
            </form>
            <div class="login mb-4">
                <p>Do Not have any account? than-<a style="text-decoration: none;" href="{% url 'signup' %}">Create
                        account</a></p>
            </div>
        </div>
        <div class="col-xl-4 col-sm-1"></div>
    </div>
</div>
{% endblock body %}